*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  background-color: rgb(0, 0, 0, 0.3);
}
.divstyle{
  border: 2px solid red;
  border-radius: 20px;
}

/* column-1 style starts*/

.column1{
  float: left;
  width: 49%;
  height: 480px;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  margin-top: 20px;
  padding: 0% 1.25%;
  margin-left: 12px;
}




.elementStyle{
  padding-left: 20%;
}

h1{
  text-align: center;
  margin-top: 30px;
}

h4{
  text-align: center;
  padding-top: 10px;
}

label{
  margin-left: 5px;
}

/* for text type input */
.inputStyle1{  
  width: 45%;
  height: 30px;
  margin-top: 16px;
  margin-left: 25px;
}

input[type='password']{
  width: 45%;
  height: 30px;
  margin-top: 16px;
  margin-left: 8px;
}

input[type='date']{
  width: 45%;
  height: 30px;
  margin-top: 10px;
  margin-left: 33px;
}

.radioElementStyle{
  margin-left: 120px;
  margin-top: 15px;
}

input[type="radio"]{
  margin-right: 10px;
  width: 5%;
}
form div:nth-of-type(1) input[type='password']{
  width: 45%;
  height: 30px;
  margin-left: 31px;
  margin-top: 10px;
}

form div:nth-of-type(3) input[type='text']{
  width: 45%;
  height: 30px;
  margin-top: 10px;
  margin-left: 23px;
}

form div:nth-of-type(4) input[type='text']{
  width: 45%;
  height: 30px;
  margin-left: 16px;
  margin-top: 10px;
}

form div:nth-of-type(5) input[type='text']{
  width: 45%;
  height: 30px;
  margin-left: 62px;
  margin-top: 10px;
}

/* column-1 style ends */




/* column-2 style starts  */

.column2{
  float: left;
  width: 49%;
  height: 480px;
  background-color: rgb(0, 0, 0, 0.4);
  color: white;
  margin-top: 20px;
  margin-right: 10px;
  padding: 0%1.25%;
}

.sscGrpStyle{
  width: 50%;
  height: 389px;
  height: 30px;
  margin-top: 15px;
  margin-left: 85px;
}

.inputStyle2{
  width: 50%;
  height: 35px;
  margin-top: 25px;
  margin-left: 68px;
}

.inputStyle3{
  width: 50%;
  height: 35px;
  margin-top: 5px;
  margin-left: 172px;
}

.hscGrp{
  width: 50%;
  height: 35px;
  /* height: 389px; */
  margin-left: 82px;
  margin-top: 10px;
}
.hscSubStyle_1{
  width: 50%;
  height: 35px;
  /* height: 389px; */
  margin-top: 10px;
  margin-left: 88px;
}

.hscSubStyle_2{
  width: 50%;
  height: 35px;
  /* height: 389px; */
  margin-top: 10px;
  margin-left: 83px;
}

.comStyle{
  width: 50%;
  height: 35px;
  /* height: 389px; */
  margin-top: 10px;
  margin-left: 27px;
}

.optStyle{
  width: 50%;
  height: 35px;
  /* height: 389px; */
  margin-top: 10px;
  margin-left: 50px;
}
/* column-2 style ends */



/* button style starts */

.submitbtn{
  width: 50%;
  padding: 10px 18px;
  margin-top: 15px;
  margin-left: 295px;
  background-color: #26A96C;
  border-radius: 10px;
  color: white;
}

.updatebtn {
  width: 50%;
  padding: 10px 18px;
  margin-top: 2px;
  /* margin-left: 10px; */
  margin-left: 295px;
  background-color: #e75b51;
  color: white;
  border-radius: 10px;
}
  
/* button style ends */
